64-181-248-211.nip.io {
    tls {
        issuer acme {
            dir https://acme-v02.api.letsencrypt.org/directory
            disable_http_challenge
        }
    }
    reverse_proxy marginalia:3000
}
